html, body{
    margin: 0;
    height: 100%;
}
body{
    width: 100%;
    background-color: #1B1C31;
    background: linear-gradient(#1B1E78 0%, #1B1C31 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1B1E78),color-stop(1, #1B1C31));
    background-attachment: fixed;
}
html, body, div, p, input, li, a{
    font-family: Arial;
}
header{
    margin: 0;
}
article{
    margin-left: 55px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav{
    height: 100%;
    float: left;
    background-color: #202138;
    transition: 0.5s;
    padding-top: 100px;
    z-index: 1;
    overflow-x: hidden;
    width: 55px;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 8px 0px #000000;
}
nav .btnSidebar{
    background-color: #202138;
    color: #5FDFDF;
    float: left;
    border: 0px solid;
    width: 100%;
    transition: 0.5s;
    white-space: nowrap;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 14px;
}
nav .btnSidebar:hover{
    background-color: #2F304A;
    cursor: pointer;
}
nav .closeSidebar{
    position: absolute;
    top: 0;
    text-align: left;
    width: 65px;
}
.btnSidebar .textSidebar{
    font-size: 20px;
    padding-left: 10px;
    text-align: left;
    vertical-align: 35%;
}
.btnSidebar .imgSidebar{
    width: 43px;
}